*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.site-wrapper {
  height: 100%;
}

body {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.75;
  position: relative;
  visibility: visible;
  overflow-x: hidden;
  color: #696969;
  background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marcellus", Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  color: #333333;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: inherit;
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  line-height: inherit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a,
button,
img,
input {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

*:focus {
  outline: none !important;
}

a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #F8796C;
}

@media (max-width: 1199.98px) {
    #mobileNav a:hover {
        color: #ddc11d !important;
    }
}

button,
input[type=submit] {
  cursor: pointer;
}


#shop-title-area .page-title-size {
  background-image: url("./assets/img/shop/page-title.webp");
  background-repeat: no-repeat;    
  background-size: cover;            
  background-position: center center;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  #shop-title-area .page-title-size {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 767px) {
  #shop-title-area .page-title-size {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 479px) {
  #shop-title-area .page-title-size {
    padding: 50px 0;
  }
}


.shop-toolbar {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 60pc
}

#shop-product-area .shop-product-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -20px -10px;
}
#shop-product-area .shop-product-filter button {
  font-size: 18px;
  line-height: 1;
  margin: 0 20px 10px;
  padding: 0;
  text-transform: uppercase;
  color: #ABABAB;
  border: none;
  background-color: transparent;
}
#shop-product-area .shop-product-filter button:hover, .shop-product-filter button.active {
  color: #333333;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  #shop-product-area .shop-product-filter {
    margin: 0 -15px -10px;
  }
  #shop-product-area .shop-product-filter button {
    font-size: 16px;
    margin: 0 15px 10px;
  }
}
@media only screen and (max-width: 575px) {
  #shop-product-area .shop-product-filter {
    margin: 0 -10px -10px;
  }
  #shop-product-area .shop-product-filter button {
    font-size: 14px;
    margin: 0 10px 10px;
  }
}

#shop-product-area .shop-toolbar-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -15px;
  padding-left: 0;
  list-style: none;
}
#shop-product-area .shop-toolbar-controls > li {
  margin: 0 15px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  #shop-product-area .shop-toolbar-controls {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#shop-product-area .product-sorting {
  position: relative;
  z-index: 9;
}
#shop-product-area .product-sorting .nice-select {
  height: auto;
  padding-left: 0;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  border-radius: 0;
}
#shop-product-area .product-sorting .nice-select::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  line-height: 1;
  top: 50%;
  right: 8px;
  bottom: auto;
  width: auto;
  height: auto;
  margin: 0;
  content: "\f0d7";
  -webkit-transform: rotate(0) translateY(-50%);
      -ms-transform: rotate(0) translateY(-50%);
          transform: rotate(0) translateY(-50%);
  color: #ABABAB;
  border: none;
}
#shop-product-area .product-sorting .nice-select .current {
  font-size: 16px;
  line-height: 28px;
  display: block;
  padding-bottom: 4px;
}
#shop-product-area .product-sorting .nice-select .list {
  margin-top: 10px;
  padding: 15px;
  -webkit-transform: scale(1) translate(0, 0);
      -ms-transform: scale(1) translate(0, 0);
          transform: scale(1) translate(0, 0);
  border-radius: 0;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
#shop-product-area .product-sorting .nice-select .list li {
  font-size: 16px;
  font-weight: 400 !important;
  line-height: 1.25;
  min-height: auto;
  padding: 8px;
}
#shop-product-area .product-sorting .nice-select .list li.selected {
  color: #333333;
  background-color: transparent;
}
#shop-product-area .product-sorting .nice-select .list li:hover {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
  background-color: transparent;
}
#shop-product-area .product-sorting .nice-select.open .list {
  margin-top: 0;
}

#shop-product-area .product-column-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}
#shop-product-area .product-column-toggle .toggle {
  margin: 0 10px;
  padding: 0;
  color: #ABABAB;
  border: none;
  background-color: transparent;
}
#shop-product-area .product-column-toggle .toggle i {
  font-size: 14px;
}
#shop-product-area .product-column-toggle .toggle:hover, .product-column-toggle .toggle.active {
  color: #333333;
}


.product-thumb img.image-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.product-thumb.has-hover {
    position: relative;
}

    .product-thumb.has-hover:hover img.image-hover {
        display: block;
    }



#shop-product-area .product-filter-toggle {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #696969;
}
#shop-product-area .product-filter-toggle::before {
  font-family: "Font Awesome 5 Free";
  font-size: 13px;
  line-height: 1;
  margin-right: 6px;
  margin-bottom: -3px;
  font-weight: 900;
  content: "\f0b0";
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
#shop-product-area .product-filter-toggle::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #333333;
}
#shop-product-area .product-filter-toggle:hover {
  color: #333333;
}
#shop-product-area .product-filter-toggle:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}
#shop-product-area .product-filter-toggle.active {
  color: #333333;
}
#shop-product-area .product-filter-toggle.active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#shop-product-area .product-filter-toggle.active::after {
  right: auto;
  left: 0;
  width: 100%;
}

.product-thumb .image-hover {
    display: none;
}

.product-thumb.has-hover:hover .image-hover {
    display: block;
}

#shop-product-area .product-filter {
  display: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

#shop-product-area .product-filter-widget-title {
  font-family: "Marcellus";
  margin-bottom: 30px;
}

#shop-product-area .product-filter-widget {
  max-height: 210px;
}


#footer-area.footer-section {
  background-color: #F8F8F8;
}



