@model InstagramEditVM


<h2>Edit Slider</h2>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data" style="margin-left: 20pc; margin-top: 3pc;">

    <div class="form-group mt-3">
        <label>Current Image</label><br />
        <img src="~/assets/img/home/@Model.Image" width="200" />
        <input type="hidden" asp-for="Image" />
    </div>

    <div class="form-group mt-3">
        <label asp-for="Photo" class="control-label">New Photo (optional)</label>
        <input asp-for="Photo" class="form-control" type="file" accept="image/*"/>
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>

    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>