*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.site-wrapper {
  height: 100%;
}

body {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.75;
  position: relative;
  visibility: visible;
  overflow-x: hidden;
  color: #696969;
  background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marcellus", Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  color: #333333;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: inherit;
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  line-height: inherit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a,
button,
img,
input {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

*:focus {
  outline: none !important;
}

a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #F8796C;
}

button,
input[type=submit] {
  cursor: pointer;
}


#blog-title-area .page-title-size {
    background-image: url("../../img/blog/page-title.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px) {
    #blog-title-area .page-title-size {
      padding: 80px 0;
    }
  }
  
  @media only screen and (max-width: 767px) {
    #blog-title-area .page-title-size {
      padding: 60px 0;
    }
  }
  
  @media only screen and (max-width: 479px) {
    #blog-title-area .page-title-size {
      padding: 50px 0;
    }
  }
  
  
  .shop-toolbar {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 60pc
  }


  #blog-area .blog .image {
    margin-bottom: 30px;
  }
  #blog-area .blog .image a {
    display: block;
  }
  #blog-area .blog .image a img {
    width: 100%;
  }
  #blog-area .blog .content .meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
  }
  #blog-area .blog .content .meta li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin-right: 25px;
  }
  #blog-area .blog .content .meta li:last-child {
    margin-right: 0;
  }
  #blog-area .blog .content .meta li i {
    margin-right: 8px;
    color: #999999;
  }
  #blog-area .blog .content .meta li a {
    border-bottom: 1px solid transparent;
    font-family: sans-serif;
    font-weight: bold;
  }
  #blog-area .blog .content .meta li a:hover {
    color: #333333;
    border-color: rgba(51, 51, 51, 0.2);
  }
  #blog-area .blog .content .title {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: system-ui;
  }
  #blog-area .blog .content .title a:hover {
    color: #333333;
  }
  #blog-area .blog .content .desc {
    margin-bottom: 20px;
    font-family: system-ui;
    font-weight: 100;
    width: 23pc;
  }
  #blog-area .blog .content .desc p {
    font-size: 16px;
  }
  #blog-area .blog .content .desc p:last-child {
    margin-bottom: 0;
  }
  #blog-area .blog .content .link {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  }
  #blog-area .blog .content .link:hover {
    border-color: #333333;
  }

  #footer-area.footer-section {
    background-color: #F8F8F8;
  }
  